.DS_Store
.project
.vscode

/languages/java/bin/

*.pyc

project.properties
git.properties
log4j.properties

build

/site

/cpplib/languages/java/bin/
.idea
.pypirc
MANIFEST
cmake-build-*
dist
out
build
build-*
