.classpath
.DS_Store
.project
.idea
.gradle
.vscode

*.iml
*.pyc

project.properties
git.properties
log4j.properties

build

/target
/site

/server/build

/server/src/main/ts/built
/server/node_modules
/server/out
/server/bin/
/server/jsch-extension/bin/
/server/jsch-nio/bin/