body {
    font-size: 12px;
}

dt { color: blue; }
dd { padding-bottom: .5em; }

#header {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    margin-bottom: 1em;
}

.progressbar {
    width: 25%;
    height: 3mm;
    margin-top: 1mm;
}

#header .title {
    font-size: x-large;
}

#header .links {
    margin: 1em;
}

/* Dialogs are hidden by default */
.dialog {
    display: none;
}

#connection {
    right: 0;
    top: 0;
    position: fixed;
}

/* Javascript documentation */
#jsdocumentation dl {
    padding-left: 0.5cm;
}

#jsdocumentation dt {
    font-size: large;
}

/* Icons with an action */
.fa.link {
    padding: 3pt;
    cursor: pointer;
}

.fa.link:hover {
    background: black;
    color: red;
    padding: 3pt;
    cursor: pointer;
}


/*

  Controls the display of icons depending on the state

*/

/* Restart */
.xpm-resource-list i[name="restart"] {
    display: none;
}

.xpm-resource-list#state-error i[name="restart"] {
    display: inline;
    margin-right: 5px;
}

/* Delete */
.xpm-resource-list img[name="delete"] {
    display: inline;
    margin-right: 5px;
}

.xpm-resource-list#state-running i[name="delete"] {
    display: none;
}

/** Button lists */
ul.buttons {
    padding: 0;
}
.buttons > li {
    display: inline-block;
}

#experiments svg {
    display: none;
}


/** SVG graph */

.link {
    stroke: #ccc;
}

.node text {
    pointer-events: none;
    font: 10px sans-serif;
}

