.ui-tabs .ui-tabs-panel {
    padding: 0;
}

div.tabs ul.ui-tabs-nav {
    margin-bottom: 0;
}

div.tabs.ui-tabs {

}

h1 {
    background: lightblue;
    padding: 0.2rem;
}

h2 {

}

.ui-widget-header {
    background: lightblue;
    border: 0;
    padding: 0;
}